@import '~bootstrap/scss/bootstrap';

body {
  background-color: #B5C9F8;
}

.container {
  height: 100vh;
}

.game-board {
  background-color: #90EE90;
  margin: auto;
  max-height: calc(100vh - 100px);
  max-width: calc(100vh - 100px);
}

.box {
  align-items: center;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  display: flex;
  font-size: 7vh;
  justify-content: center;
  min-height: calc(100% / 3);
  min-width: calc(100% / 3);

  &:nth-child(3n) {
    border-right: 0px;
  }

  &:nth-last-child(-1n + 3) {
    border-bottom: 0px;
  }

  &:hover {
    background-color: #B19CD9;
  }
}

.game {
  align-items: center;
}

#message {
  color: #1144D0;
  font-size: 20px;
  text-align: center;
}

#sign-in-message {
  color: #AB495B;
  font-size: 20px;
  text-align: center;
}

#change-password-message {
  color: #1144D0;
  font-size: 20px;
  text-align: center;
}

#sign-out-message {
  color: #1144D0;
  font-size: 20px;
  text-align: center;
}

#player-win-message {
  color: red;
  font-size: 24px;
  text-align: center;
}

#player-tie-message {
  color: red;
  font-size: 24px;
  text-align: center;
}

h1 {
  color: #3FB42D;
  text-align: center;
}

h2 {
  color: red;
  text-align: center;
}
