@import '~bootstrap/scss/bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');

body {
  background-color: #FFFF99;
}

.container {
  height: 100vh;
}

.game-board {
  background-color: #90EE90;
  margin: auto;
  max-height: calc(100vh - 100px);
  max-width: calc(100vh - 100px);
}

.box {
  align-items: center;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  display: flex;
  font-size: 7vh;
  justify-content: center;
  min-height: calc(100% / 3);
  min-width: calc(100% / 3);

  &:nth-child(3n) {
    border-right: 0px;
  }

  &:nth-last-child(-1n + 3) {
    border-bottom: 0px;
  }

  &:hover {
    background-color: #B19CD9;
  }
}

.game {
  align-items: center;
  border-radius: 4px;
  color: #090C9B;
  padding: 4px;
  margin-top: 1px;
  margin-bottom: 1px;
  width: 10%;
  height: 8%;
}

.game:hover {
  background-color: #F50052;
}

.signUp {
  color: #F50052;
  font-family: 'Playball', cursive;
  font-size: 24px;
}

.signUpLegend {
  font-size: 30px;
}

.signIn {
  color: #F50052;
  font-family: 'Playball', cursive;
  font-size: 24px;
}

.signInLegend {
  font-size: 30px;
}

.changePassword {
  color: #F50052;
  font-family: 'Playball', cursive;
  font-size: 24px;
}

.changePassLegend {
  font-size: 30px;
}

.button-sign-up {
  border-radius: 4px;
  color: #090C9B;
  padding: 4px;
  margin: 10px;
  width: 8%;
  height: 8%;
}

.button-sign-up:hover {
  background-color: #F50052;
}

.button-sign-in {
  border-radius: 4px;
  color: #090C9B;
  padding: 4px;
  margin: 10px;
  width: 8%;
  height: 8%;
}

.button-sign-in:hover {
  background-color: #F50052;
}

.changePassButton {
  border-radius: 4px;
  color: #090C9B;
  padding: 4px;
  margin: 10px;
  width: 13%;
  height: 8%;
}

.changePassButton:hover {
  background-color: #F50052;
}

.g-game {
  border-radius: 4px;
  color: #090C9B;
  padding: 4px;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 13%;
  height: 8%;
}

.g-game:hover {
  background-color: #F50052;
}

.signOut {
  border-radius: 4px;
  color: #090C9B;
  padding: 4px;
  margin: 7px;
  width: 8%;
  height: 8%;
}

.signOut:hover {
  background-color: #F50052;
}

#button-sign-in {
  text-align: center;
}

#button-sign-up {
  text-align: center;
}

#message {
  color: #1144D0;
  font-size: 20px;
  text-align: center;
}

#sign-in-message {
  color: #AB495B;
  font-size: 20px;
  text-align: center;
}

#change-password-message {
  color: #1144D0;
  font-size: 20px;
  text-align: center;
}

#sign-out-message {
  color: #1144D0;
  font-size: 20px;
  text-align: center;
}

#player-win-message {
  color: red;
  font-size: 24px;
  text-align: center;
}

#player-tie-message {
  color: red;
  font-size: 24px;
  text-align: center;
}

#get-games {
  color: purple;
  font-size: 20px;
  text-align: center
}

h1 {
  color: #F50052;
  text-align: center;
  font-family: 'Playball', cursive;
}

h2 {
  color: red;
  text-align: center;
}
